/* self-hosted */
@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(material-symbols-400-fallback.woff2) format('woff2');
}
